# macOS
.DS_Store

# Windows
Thumbs.db

# phpMyAdmin
irb-x/
irb-x@
irb-x*

# Piwic
analytics/
analytics@
analytics*

# Let's Encrypt
.well-known/
.well-known@
.well-known*

# 忽略自动生成的 JSON 文件
assets/json/images.json